table, th, td, tr {
	border: 1px solid #868585;
	background-image: none;
}

table {
	border-collapse: collapse;
}

thead tr:nth-child(1) {
	background-color: #9fe3e3;
}

tbody tr:nth-child(odd) {
	background-color: #eee;
}

tbody tr:nth-child(even) {
	background-color: white;
}

tbody tr:hover {
	background-color: #CEC6C6;
}

[data-icon-label] {
	position: relative;
	display: inline-block;
}

[data-icon-label]:after {
	content: attr(data-icon-label);
	position: absolute;
	top: -8px;
	right: -8px;
	background-color: rgb(255, 0, 0);
	font-size: 11px;
	padding: 2px;
	opacity: 1;
	height: 20px;
	width: 20px;
	border-radius: 50%;
	color: #fff;
	text-align: center;
	z-index: 1;
	transition: transform .2s;
	margin-right: -11px;
	margin-top: -10px;
}

[data-icon-label="0"]:after {
	display: none;
}

#goTop {
	display: none;
	position: fixed;
	bottom: 20px;
	right: 20px;
	z-index: 99;
	font-size: 24px;
	width: 40px;
	height: 40px;
	border-radius: 50%;
	background: #4a90e2;
	color: #fff;
	padding-right: 2px;
	padding-left: 12px;
	cursor: pointer;
}

.sub-header{
	margin-bottom: 20px !important;
}

#userAdminImage {
	margin-top: 20% !important;
}

a#userAdmin.navbar__linkss{
	padding-top: 4.5% !important;
}

#userImages {
	margin-top: -1% !important;
}

.fa.fa-power-off{
	margin-left: -47px !important;
	margin-top: -1px !important; 
}

.form-search {
	margin-bottom: 20px;
}

.sr {
	width: 26.9%;
	margin-right: 20px;
	height: 34px;
	border: 1px solid;
	border-color: #C6C4C4;
	border-radius: 5px 5px;
	padding-left: 34px;
	background-image: url('/web/images/search-icon.png');
	/* Add a search icon to input */
	background-position: 10px 6px; /* Position the search icon */
	background-size: 20px 20px;
	background-repeat: no-repeat; /* Do not repeat the icon image */
}

.srb {
	width: 136px;
	background: #9fe3e3;
	border: 1px solid;
	border-color: #A4A4A4;
	height: 34px;
	border-radius: 5px 5px;
}

.srb:hover {
	background: #1E84DC;
}

.modal-content.orderdetails {
	width: 1000px !important;
	margin-left: -50%;
	margin-right: 0;
}

.modal-body.orderdetail {
	width: 1000px !important;
}

#total {
	text-align: right;
	border: none;
	font-weight: bold;
	width: 150px;
	color: #333333;
}

#feeShip, #feeship, #discount, #totalPrice {
	text-align: right;
	border: none;
	font-weight: bold;
	width: 150px;
	color: #333333;
}

#totalPrice{
	color: red;
}

#totalQuantity {
	text-align: center;
	border: none;
	font-weight: bold;
	width: 50px;
	color: #333333;
}

span.total-price{
	color: #333333;
	margin-left: 2px;
}

.info-price{
	color: #333333;
}

tfoot {
	font-weight: bold;
	color: red;
	font-size: 1rem;
}

thead {
	align-items: center;
}

#totalprice {
	padding-left: 20px;
}

.customerInfo {
	border: none;
	width: 800px;
	margin-top: -5px;
}

.customerForm {
	margin-bottom: 20px;
}

.customerTitle {
	margin-bottom: 15px;
}

.modal-title1 {
	align-items: center;
	color: #131313;
	margin-top: 20px;
	margin-bottom: 30px;
	font-size: 1.1rem;
}

.s {
	margin-bottom: -15px;
}

.btnp {
	background: #fff;
	border: none;
	color: #131313;
}

.btnp:hover {
	background: #fff;
	border: none;
	color: #66716B;
}

.btn-secondary1 {
	margin-bottom: 0px;
	width: 498px;
	margin-left: -16px;
}

.btn-primary1 {
	margin-top: -17px;
	margin-bottom: 18px;
	font-weight: 600;
}

.modal-body {
	cursor: pointer;
}

#r {
	background: #fff !important;
}

a.pg{
	margin-left: -320px;
	margin-right: 280px;
}

footer {
	background-color: #efecec;
}

footer .container {
	padding-bottom: 15px;
}